<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <div id="map"></div>
    </div>
  </main>

  <footer>
    <div class="container">
      <% include ../partials/footer %>
    </div>
  </footer>

  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3.hexbin.v0.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    buildMap(<%- terrain %>, <%= cols %>, <%= rows %>, <%= hexRadius %>, <%- points %>);
  </script>

</body>

</html>
